@font-face {
    font-family: 'Circular';
    src: url('./circular-std-medium-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Arniek';
    src: url('./arniek.otf') format('opentype');
}
@font-face {
    font-family: 'Zolando';
    src: url('./ZalandoSansExpanded-VariableFont_wght.ttf') format('opentype');
}

body::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Zolando', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


html, body{
    width: 100%;
    background-color: #c8976c;
}

a{
    text-decoration: none;
    color: #2a2a2a;
    font-size: 16px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: #c8976c;
}


.logo a{
    font-weight: 600;
}


.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.hero{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transition{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    pointer-events: none;
}

.transition-row{
    display: flex;
    flex: 1;
}

.transition-row.row-1 .block{
    transform-origin: top;   
}


.transition-row.row-2 .block{
    transform-origin: bottom;   
}

.block{
    flex: 1;
    background-color: #6f4d38;
    transform: scaleY(1);
    will-change: transform;
}

.khaki-outline{
    text-shadow:
       -2px -2px 0 #cbb799,
        2px -2px 0 #cbb799,
       -2px  2px 0 #cbb799,
        2px  2px 0 #cbb799;
}

